@model TMS_CRS.Models.TmRegdetail;
<form method="post">
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <th>Vehicle Number</th>
            <td>@Html.TextBoxFor(x => x.VehNo)</td>
        </tr>
        <tr>
            <th>Vehicle ID</th>
            <td>@Html.TextBoxFor(x => x.VehId)</td>
        </tr>
        <tr>
            <th>Owner ID</th>
            <td>@Html.TextBoxFor(x => x.OwnerId)</td>
        </tr>
        <tr>
            <th>Old Owner ID</th>
            <td>@Html.TextBoxFor(x => x.OldOwnerId,new { @Value = "null" })</td>
        </tr>
        <tr>
            <th>Date of Purchase</th>
            <td>@Html.TextBoxFor(x => x.DateOfPurchase, new { type = "date" })</td>
        </tr>
        </tr>
        <tr>
            <th>Distributer Name</th>
            <td>@Html.TextBoxFor(x => x.DistrubuterName)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>