<link rel="stylesheet" href="~/css/style.css" />
<style>
    input {
        height: 150px;
        width: 250px;
        background-color: #00beff;
        font-size: 25px;
        color: white;
    }
</style>
<body style="background-color:antiquewhite">
    <form>
        <div>
            <input type="button" value="Back" style="float: right; height: 50px; width: 100px;" onclick="location.href='@Url.Action("MainHome", "ConsumeRTO")'" />
        </div>
        <table align="center">
            <tr>
                <th>
                    <input type="button" value="Add Owner Details" onclick="location.href='@Url.Action("AddOwner", "ConsumeRTO")'" />
                </th>
                <th>
                    <input type="button" value="Vehicle Details" onclick="location.href='@Url.Action("AddVehicle", "ConsumeRTO")'" />
                </th>
            </tr>
            <tr>
                <th>
                    <input type="button" value="Vehicle Transfer" onclick="location.href='@Url.Action("GetAll", "ConsumeRTO")'" />
                </th>
                <th>
                    <input type="button" value="Registration" onclick="location.href='@Url.Action("Registration", "ConsumeRTO")'" />
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="button" value="Generate Report" onclick="location.href='@Url.Action("GenerateReport", "ConsumeRTO")'" />
                </th>
            </tr>
        </table>
    </form>
</body>