<link rel="stylesheet" href="~/css/HomePage.css" />
<nav>
    <div class="nav-bg"></div>
    <ul>
        <li><a href="">@Html.ActionLink("Add Owner", "AddOwner", "ConsumeRTO")</a></li>
        <li><a href="">@Html.ActionLink("Add Vehicle", "AddVehicle", "ConsumeRTO")</a></li>
        <li><a href="">@Html.ActionLink("Vehicle Registration", "Registration", "ConsumeRTO")</a></li>
        <li><a href="">@Html.ActionLink("Vehicle Transfer", "GetAll", "ConsumeRTO")</a></li>
        <li><a href="">@Html.ActionLink("Report", "GenerateReport", "ConsumeRTO")</a></li>
    </ul>
</nav>
<div class="hero">
    <img src="~/Image/rto.jpg" width="100%" height="100%"/>
</div>
