<link rel="stylesheet" href="~/css/style.css" />
@model TMS_CRS.Models.TmRegdetail
<form method="post">
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <th>Old Owner ID</th>
            <td>@Html.EditorFor(x => x.OldOwnerId, new {  htmlAttributes = new { disabled = true, placeholder = Model.OwnerId,value=Model.OwnerId } })</td>
        </tr>
        <tr>
            <th>New Owner ID</th>
            <td>@Html.EditorFor(x => x.OwnerId)</td>
        </tr>
        @*<tr>
            <th>Old Owner</th>
            <td>@Html.EditorFor(x => x.OldOwner.OwnerId, new { @readonly = true })</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>@Html.TextBoxFor(x => x.Owner.Fname)</td>
        </tr>*@
        <tr>
            <th><input type="submit" value="Submit" /></th>
        </tr>
    </table>
    <div>
        <button style="background-color:white;">
            @Html.ActionLink("Back", "RTOHome", "ConsumeRTO")
        </button>
    </div>
</form>