<body style="background-color:antiquewhite">
    @model List<TMS_CRS.Models.OffenceDetail>
        <marquee><h1 style="color:saddlebrown">Welcome To Report Page</h1></marquee>
        <form method="post">


            <div style="text-align:center"><b>Enter Vehicle No:@Html.TextBox("vno")</b></div>

            <br />
            <div style="text-align:center"><input type="submit" value="Generate Report" name="vno" style="background-color:deepskyblue" /></div>
            <br />
            <br />
            @if (Model != null)
            {

                <table border="1">
                    <tr>
                        <th>Vehicle No</th>
                        <th>Offence ID</th>
                        <th>Place</th>
                        <th>Reported By</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.VehNo</td>
                            <td>@m.OffenceId</td>
                            <td>@m.Place</td>
                            <td>@m.ReportedBy</td>
                            <td>@m.Status</td>
                        </tr>
                    }
                </table>
            }

        </form>
    </body>
<br/>
<br/>
<br/>
<div>
    <td><button type="button" onclick="location.href='@Url.Action("HomePage")'" style="background-color:deepskyblue"><b>Return To HomePage</b></button></td>
</div>