@model List<TMS_CRS.Models.OffenceDetail>
<table border="1">
    <tr>
        <th>Offence No</th>
        <th>vehicle No</th>
        <th>Offence id</th>
        <th>Place</th>
        <th>Reported by</th>
        <th>Status</th>
        <th>Edit Pentaly</th>
    </tr>
    @foreach(var m in Model)
            {
        <tr>
            <td>@m.OffenceNo</td>
            <td>@m.VehNo</td>
            <td>@m.OffenceId</td>
            <td>@m.Place</td>
            <td>@m.ReportedBy</td>
            <td>@m.Status</td>
            <td>@Html.ActionLink("Edit"+m.OffenceNo, "EditOffence", "ConsumeTrafficPolice",new { ono= m.OffenceNo },null)</td>
        </tr>
            }
</table>

<br/>
<br/>
<br/>
<td><button type="button" onclick="location.href='@Url.Action("HomePage")'">Return To HomePage</button></td>
