@model TMS_CRS.Models.TmUsermaster
<link rel="stylesheet" href="~/css/AddUser.css" />
<div class="signupSection">
    <div class="info">
        <h2>Welcome to Registration Page</h2>
        <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
        <hr />
        <p>Please Choose your rolename from below options:</p>
        <ul class="noBullet">
            <li>1.RTO_Officer</li>
            <li>2.Traffic_Police</li>
            <li>3.Vehicle_Owner</li>
            <hr />
            <li>OR</li>
        </ul>
        <span></span>
        <h4>@Html.ActionLink("Log in", "UserLogin")</h4>
    </div>
    <form method="post" class="signupForm" name="signupform">
        <h2>Sign Up</h2>
        <ul class="noBullet">
            <li>
                <label for="username"></label>
                <input type="text" class="inputFields" id="username" name="username" placeholder="Username" required />
                @Html.ValidationMessageFor(x => x.Username)
            </li>
            <li>
                <label for="rolename"></label>
                <input type="text" class="inputFields" id="rolename" name="rolename" placeholder="Rolename" required />
                @Html.ValidationMessageFor(x => x.Rolename)
            </li>
            <li>
                <label for="password"></label>
                <input type="password" class="inputFields" id="password" name="password" placeholder="Password" required />
                @Html.ValidationMessageFor(x => x.Password)
            </li>
            <li>
                @Html.ValidationSummary(true)
            </li>
            <li id="center-btn">
                <input type="submit" id="register-btn" name="register" alt="Register" value="Register">
            </li>
        </ul>
    </form>
    
</div>
