<body style="background-color:antiquewhite">

    @using TMS_CRS.Models
    @model TmUsermaster
    <marquee><h1 style="color:saddlebrown">Welcome To User Registration  Page</h1></marquee>
    <button style="background-color:deepskyblue;float:right"> @Html.ActionLink("Log in", "UserLogin")</button>
    @using (Html.BeginForm())
    {
        <!--
           <div style="text-align:center">
               @Html.ValidationSummary(true)
               <div><b>User Name</b> :@Html.TextBoxFor(x => x.Username)</div>
               <div><b>Enter Rolename</b> :@Html.TextBoxFor(x => x.Rolename)</div>
               <div><b>Enter Password</b> :@Html.TextBoxFor(x => x.Password)</div>
               <div><input type="submit" value="Register" /></div>
           </div>
           -->
        <table class="center" cellpadding="4" cellspacing="10" style="margin-left:auto;margin-right:auto;margin-top:10%">
            <tr>
                <td><b> Enter User Name</b></td>
                <td>@Html.TextBoxFor(x => x.Username)</td>
            </tr>

            <tr>
                <td> <b>Enter Rolename</b></td>
                <td>
                    @Html.DropDownListFor(m => m.Rolename, new SelectList(Enum.GetValues(typeof(RoleName))), "Select Role")
                </td>
            </tr>
            <tr>
                <td><b>Enter Password</b></td>
                <td>@Html.TextBoxFor(x => x.Password)</td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Register" style="background-color:deepskyblue;" /></td>
            </tr>
        </table>
    }



</body>